@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SFPro";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/SF-Pro-Display-RegularItalic.otf") format("opentype");
}
@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SFPro";
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/SF-Pro-Display-BoldItalic.otf") format("opentype");
}
